#primary{ /*display grid aplicado anteriormente pela class .grid atribuida ao elemento nav */
  padding-block: 20px;

  div { /*todas as divs terao este comportamento*/
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nesting css */

  div:nth-child(2){ /*segunda div filho do #primary */
    margin-inline: auto;
  }

  div:nth-child(3){ /*terceira div filho do #primary */
    justify-self: end; /*como o display flex ja havia sido aplicado então podemos utilizar esta propriedade */
  }
}

#secondary { /*display grid aplicado anteriormente pela class .grid atribuida ao elemento nav */
  padding-block:14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}