/* Utility-first */
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.text-2xl { /* text extra large (extra grande) */
  font: var(--h1);
}

.text-xl { /* text extra large (extra grande) */
  font: var(--h2);
}

.text-lg { /* text large (grande) */
  font: var(--h3);
}

.text-sm { /* text small (pequeno) */
  font: var(--text-sm);
}
