header{
    padding-top: 12px;
    border-top: 1px solid var(--stroke-color);
    display: flex;
    justify-content: space-between;
    font: var(--text-span) ;
    color: var(--text-color-secondary);
    align-items: center;
  h3 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  a{
    display: flex;
    padding: 2px 0px;
  }
}
